@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-morandi-panel text-morandi-text font-sans antialiased;
    overscroll-behavior: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-normal;
  }
}

/* ==================== 自定义精美滚动条 ==================== */
/* 针对 Chrome, Safari, Edge (Blink/Webkit) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/* 针对 Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.08) transparent;
}

